.application-icon-container {
    position: relative;
    width: 96px;
    height: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 4px;
    cursor: pointer;
    border-radius: 3px;
    overflow: hidden;
}

.application-icon-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--light-blue);
    opacity: 0;
    transition: .25s;
    z-index: -1;
}
.application-icon-container:hover::before { opacity: .5; }

.application-icon-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    font-size: 12px;
    text-align: center;
}

.application-interface-container {
    width: 100%;
    height: 100%;
}