#desktop-homescreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--smooth-black);
}

#desktop-homescreen-username {
    color: var(--primary-color);
}

svg {
    fill: var(--blue);
}